<footer>
  <div class="wrap">
    <div class="footer-header">
      <app-brand></app-brand>
      <a class="scroll-up easing" (click)="this.scrollToTop();">
        <i class="fas fa-chevron-up"></i>
      </a>
    </div>
    <div class="footer-columns">
      <div class="footer-column links">
        <a class="link easing" target="_github" href="https://github.com/YungGaming">
          <i class="fab fa-github-square"></i>
          <p>Github</p>
          <p>YungGaming</p>
        </a>
        <a class="link easing" href="mailto:hello@chriscates.ca">
          <i class="fas fa-at"></i>
          <p>Email</p>
          <p>hello@chriscates.ca</p>
        </a>
        <a class="link easing" target="_discord" href="https://discord.gg/sBnXVSR">
          <i class="fab fa-discord"></i>
          <p>Discord</p>
          <p>YungGaming</p>
        </a>
        <a class="link easing" target="_gitcoin" href="https://gitcoin.co">
          <i class="fas fa-suitcase"></i>
          <p>Jobs</p>
          <p>Gitcoin.co</p>
        </a>
      </div>
      <div class="footer-column sponsor">
        <h3>Interested in sponsoring Yung Gaming?</h3>
        <h4>Email <i class="fas fa-at"></i> hello@chriscates.ca</h4>
      </div>
    </div>
  </div>
</footer>