<div class="index-content no-border">
  <div class="index-image smaller">
    <img src="/assets/chriscates.png" class="rounded"/>
  </div>
  <div class="index-text smaller">
    <h2>Want something built?</h2>
    <h3>Don't be afraid to reach out to Chris Cates</h3>
    <div class="button-wrap">
        <a class="button easing" target="_chriscates" href="https://chriscates">
          <i class="fas fa-globe-americas"></i> Website
        </a>
        <a class="button easing" href="mailto:hello@chriscates.ca">
          <i class="fas fa-at"></i> Email
        </a>
      </div>
  </div>
</div>